.staminabar-container {
    width: 16%;
    height: 6%;
    border-radius: 5px;
    border-width: 3px;
    border-color: black;
    top: 12%;
    /* left: 10px; */
    padding: 0;
}

.current-stamina {
    background-color: yellow;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}
